{% extends 'blog/base1.html' %}

{% block head %}
    {{ block.super }}
{% endblock head %}

{% block main %}

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 g-3">
      {% load static %} {% get_static_prefix as STATIC_PREFIX %}

      <div class="col">
        <div class="card shadow-sm">
          <img
            src="{{image.img.url}}"
            alt="My image"
            width="100%"
            height="100%"
          />
          <div class="card-body">
            <p class="card-text">{{post.post_text}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  {% url 'blog:edit' post.id as post_url %}
                  <a href="{{ post_url }}">Edit</a>
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  {% url 'blog:main' as main_url %}
                  <a href="{{ main_url }}">Go back</a>
                </button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock main %}
{% block footer %}
  {{block.super}}

{% endblock footer %}
