{% extends 'blog/base.html' %}

{% load bootstrap5 %}


{% block bootstrap5_content %}

{%block title_bar%}

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Domile's page</h1>
        <p class="lead text-muted">My fake traveling blog page.  </p>
        <p>
            {% url 'blog:index' as main_url %} 
            <a href="{{ main_url }}" class="btn btn-primary my-2">Main page</a>
        </p>
      </div>
    </div>
  </section>

  {%endblock title_bar%}

        {% block card%}
        <div class="album py-5 bg-light">
            <div class="container">
        
              <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 g-3">
        
        {% load static %}
        {% get_static_prefix as STATIC_PREFIX %}
 
        <div class="col">
          <div class="card shadow-sm">
            <img src="/{{ BASIC_DIR }}/{{0.img}}" alt="My image" width="100%" height="100%">  
            <div class="card-body">
              <p class="card-text">{{post.post_text}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
</div>

    {% endblock card%}   
    {% endblock bootstrap5_content %}
